body {
    width: 900px;
    height:: auto;
    margin: auto;
    padding: 20px;
}

header {
    width: 100%;
    height: 150px;
}

img.logo {
    width: 200px;
    height: 110px;
    float: left;
    margin: 0 50px 0 0;
}

nav {
    float: right;
    margin: 60px 0;
}

nav ul li {
    display: inline;
    margin: 10px 10px;
}

li a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    background: #FFCC00;
    color: #000;
    border-radius: 5px;
}
li a:hover {
    background: #FF9900;
}

div.content {
    clear: both;
    margin: 30px 0;
}

#main img {
    width: 50%;
    margin: 0 20px 0 0;
    float: left;
}

div.row {
    clear: both;
    width: 100%;
}

article.minor {
    width: 30%;
    float: left;
    margin: 30px 30px 0 0;
}

article.minor img {
    width: 100%;
    margin: 0 20px 0 0;
    float: left;    
}

.link a {
    text-decoration: none;
    background: #557EBF;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
}